apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: nodejs-ngokbnlf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/nodejs-ngokbnlf:96af533eaf100fd0039998c8c342a0d552043185@sha256:20f1d2a48d6f40baedbe30e12f0b63c8019121d94c1a33d805b04e1673cb78c5
          name: container-image
